@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Pangolin&family=Raleway:wght@300&display=swap');

*{
  box-sizing: border-box;
}
body{
    font-family:"Pangolin", cursive;
    margin:auto;
    display: block;
}
#header{
    background-image: linear-gradient(to right, #fabb68 , rgb(247,224,19));
    text-align: center;
    padding: 1rem;
    font-family: "Merriweather", cursive;
    font-size: 1rem;
}

#h1{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#main{
    height: auto;
    padding: 1rem;
    max-width: 600px;
    margin:auto;
    display: block;
}
.box{
    background-image: linear-gradient(to right, #fabb68 , rgb(247, 224, 19));
    height: 60px;
    width: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", cursive;
    font-size: x-large;
    letter-spacing: 1px;
  }

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 190px;
    cursor: pointer;
    color:black;
    transition: all 0.5s;
    position: relative;
  }
  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.2);
    transition: all 0.3s;
  }
  .btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: scale(1.2,1.2);
  }
  .btn:hover::after {
    opacity: 5;
    transform: scale(1,1);
  }

textarea {
    padding: 1rem;
    height: 15vh;
    width: 100%;
    display: block;
    font-family:"", cursive;
    font-size: large;
    margin-bottom: 1rem;
}

#outputwillcomehere{
    margin-top:2rem;
    margin-bottom: 1rem;
    font-size:large;
}

#output {
    border: 1px solid black ;
    height: 15vh;
    width: 100%;
    display: block;
    font-family: "Georgia", cursive;
}

#footer {
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;;
    text-align: center;
    background-image: linear-gradient(to right, #fabb68 , rgb(247, 224, 19));
}

p{
    font-size: large;
    line-height: 1.4;
    letter-spacing: 1px;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#footer p {
    max-width: 550px;
    margin: auto;
}

link {
  text-decoration: none;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display:inline;
}

#footer .social-icon {
  width: 2.3rem;
  padding-right: 0.5rem;
}
ul{
  padding-inline-start: 10px;
}

@media (min-width: 700px) {
  #footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}

@media (max-width: 500px) {
  #header{
    width: auto;
    height: auto;
  }
  #footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}